/*

	Look and Feel.

*/
body {
	font-family:Helvetica, Arial, Sans-serif;
	color:#fafafa;

	background-color:#2D3461;
	border-top:8pt solid #D4E5FF;
}

h1, h2, h3 {
	border-bottom:1px;
	padding-bottom:10pt;
}