/*

	Look and Feel.

*/
body {
	font-family:Helvetica, Arial, Sans-serif;
	color:#fafafa;

	background-color:#2D3461;
	border-top:8pt solid #D4E5FF;
}

h1, h2, h3 {
	border-bottom:1px;
}

h2 {
	font-weight: 300;
	letter-spacing: 1pt;
}

a {
	color: inherit;
}

/* Login Bar
-----------------------------*/
.LoginBar {
	color: #666C94;
	transition: color 0.3s;
}

.LoginBar:hover {
	color: #FFF;
}

.LoginBar a {
	cursor: pointer;
}

/* Login Pane
-----------------------------*/
.LoginPane, .LoginPane input, .LoginPane button {
	box-sizing: border-box;
}
.LoginPane {
	background-color: #FFF;
	box-shadow: 0 0 25px #000;
	transition: left 0.4s;
}

.LoginPane h3 {
	color: #777;
	font-weight: 300;
}

.LoginPane input {
	padding: 10pt;
}

.LoginPane button {
	padding: 10pt 20pt;
}